# FOREX Rates

In [1]:
# Importing relevant libraries
import pandas as pd
import yfinance as yf
from datetime import datetime

In [11]:
# KES/USD Conversion
def get_kes_usd_quick():
    """
    Quick method to get KES/USD exchange rate data from Yahoo Finance
    """
    try:
        # Create ticker object for KES/USD
        ticker = yf.Ticker("KESUSD=X")
        
        # Get historical data from 2015 to present
        df = ticker.history(
            start = "2015-01-01", 
            end = datetime.now().strftime('%Y-%m-%d'),
            interval = "1d"
        )
        
        # Clean up the data
        df = df.reset_index()
        df = df[['Date', 'Close']].copy()
        df.columns = ['Date', 'KES_USD_Rate']
        
        # Remove any missing values
        df = df.dropna()
        
        print(f"Successfully retrieved {len(df)} data points")
        print(f"Date range: {df['Date'].min().date()} to {df['Date'].max().date()}")
        
        return df
        
    except Exception as e:
        print(f"Error retrieving data: {e}")
        return None

In [18]:
# Running the kes/usd function
print("Direct KES/USD")
kes_usd_df = get_kes_usd_quick()

Direct KES/USD
Successfully retrieved 2754 data points
Date range: 2015-01-01 to 2025-07-28

In [19]:
kes_usd_df

                          Date  KES_USD_Rate
0    2015-01-01 00:00:00+00:00      0.011050
1    2015-01-02 00:00:00+00:00      0.011019
2    2015-01-05 00:00:00+00:00      0.011019
3    2015-01-06 00:00:00+00:00      0.011211
4    2015-01-07 00:00:00+00:00      0.010979
...                        ...           ...
2749 2025-07-22 00:00:00+01:00      0.007782
2750 2025-07-23 00:00:00+01:00      0.007782
2751 2025-07-24 00:00:00+01:00      0.007782
2752 2025-07-25 00:00:00+01:00      0.007782
2753 2025-07-28 00:00:00+01:00      0.007814

[2754 rows x 2 columns]

In [16]:
# KES/EUR Conversion
def get_kes_eur():
    """
    Quick method to get KES/EUR exchange rate data from Yahoo Finance
    """
    try:
        # Create ticker object for KES/USD
        ticker = yf.Ticker("KESEUR=X")
        
        # Get historical data from 2015 to present
        df = ticker.history(
            start = "2015-01-01", 
            end = datetime.now().strftime('%Y-%m-%d'),
            interval = "1d"
        )
        
        # Clean up the data
        df = df.reset_index()
        df = df[['Date', 'Close']].copy()
        df.columns = ['Date', 'KES_EUR_Rate']
        
        # Remove any missing values
        df = df.dropna()
        
        print(f"Successfully retrieved {len(df)} data points")
        print(f"Date range: {df['Date'].min().date()} to {df['Date'].max().date()}")
        
        return df
        
    except Exception as e:
        print(f"Error retrieving data: {e}")
        return None

In [17]:
get_kes_eur()

Successfully retrieved 0 data points
Date range: NaT to NaT

Empty DataFrame
Columns: [Date, KES_EUR_Rate]
Index: []